<mat-nav-list>
  <a mat-list-item routerLink="/easy-as-123" (click)="closeSidePanel()">easy as 123</a>
  <a mat-list-item routerLink="/under-the-hood" (click)="closeSidePanel()">under the hood</a>
  <a mat-list-item routerLink="/hot-vs-cold" (click)="closeSidePanel()">hot vs cold</a>
  <a mat-list-item routerLink="/sync-vs-async" (click)="closeSidePanel()">sync-vs-async</a>
  <a mat-list-item routerLink="/first-catch" (click)="closeSidePanel()">first catch</a>
  <a mat-list-item routerLink="/array-methods" (click)="closeSidePanel()">array methods</a>
  <a mat-list-item routerLink="/operators" (click)="closeSidePanel()">operators</a>
  <a mat-list-item routerLink="/concat" (click)="closeSidePanel()">concat</a>
  <a mat-list-item routerLink="/merge" (click)="closeSidePanel()">merge</a>
  <a mat-list-item routerLink="/switch" (click)="closeSidePanel()">switch</a>
  <a mat-list-item routerLink="/isolation" (click)="closeSidePanel()">isolation</a>
  <a mat-list-item routerLink="/my-first-subject" (click)="closeSidePanel()">my first subject</a>
  <a mat-list-item routerLink="/subject-observer" (click)="closeSidePanel()">subject observer</a>
  <a mat-list-item routerLink="/subject-unsubscribe" (click)="closeSidePanel()">subject unsubscribe</a>
</mat-nav-list>